body{
    margin:0;
    padding:0;
    background:#020817;
    color:white;
    font-family:Arial;
}

.main-title{
    text-align:center;
    font-size:72px;
    margin-top:40px;
    margin-bottom:20px;
    font-weight:bold;
}

.update-time{
    text-align:left;
    margin-left:210px;
    font-size:26px;
    margin-bottom:30px;
    color:white;
}

.container{
    width:1400px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    gap:30px;
}

.coin-box{
    width:48%;
    background:#07133b;
    border-radius:35px;
    padding:30px;
    box-sizing:border-box;
}

.coin-box h2{
    font-size:64px;
    margin-top:0;
    margin-bottom:30px;
}

.input-row{
    display:flex;
    gap:15px;
    margin-bottom:30px;
}

.input-row input{
    flex:1;
    height:65px;
    font-size:36px;
    background:black;
    color:#00ffff;
    border:3px solid #444;
    border-radius:18px;
    padding-left:18px;
}

.input-row button{
    width:150px;
    font-size:32px;
    border:none;
    border-radius:18px;
    background:#29d391;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

.symbol{
    font-size:82px;
    color:#00ffff;
    font-weight:bold;
    margin-bottom:20px;
}

.price{
    font-size:74px;
    font-weight:bold;
    margin-bottom:40px;
}

.prediction-title{
    font-size:42px;
    margin-bottom:20px;
}

.prediction{
    font-size:72px;
    font-weight:bold;
    margin-bottom:40px;
}

.strong-bear{
    color:white;
}

.light-bear{
    color:white;
}

.levels{
    font-size:58px;
    line-height:1.8;
    margin-bottom:40px;
}

.levels .down{
    color:white;
}

.market-info{
    font-size:30px;
    line-height:1.5;
}
