body{
    margin:0;
    background:#000;
    color:white;
    font-family:Arial;
    overflow-x:hidden;
}

.main-title{
    text-align:center;
    font-size:68px;
    font-weight:bold;
    margin-top:35px;
    color:white;
}

.update-time{
    text-align:center;
    color:yellow;
    font-size:22px;
    margin-top:12px;
    margin-bottom:25px;
}

.main-wrapper{
    width:1500px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.coin-panel{
    width:620px;
}

.panel-title{
    text-align:center;
    font-size:42px;
    font-weight:bold;
    margin-bottom:18px;
}

.input-row{
    display:flex;
    justify-content:center;
    gap:8px;
    margin-bottom:35px;
}

.input-row input{
    width:260px;
    height:42px;
    background:black;
    color:white;
    border:2px solid #555;
    font-size:32px;
    padding-left:10px;
}

.input-row button{
    width:90px;
    font-size:28px;
    background:black;
    color:white;
    border:2px solid #555;
    cursor:pointer;
}

.symbol{
    text-align:center;
    font-size:64px;
    font-weight:bold;
    margin-bottom:30px;
}

.matrix-box{
    width:380px;
    margin:auto;
    border:2px solid #777;
    padding:18px;
    margin-bottom:30px;
}

.matrix-row{
    display:flex;
    align-items:center;
    margin-bottom:18px;
}

.matrix-label{
    width:90px;
    font-size:32px;
    font-weight:bold;
}

.up{
    color:#00ff99;
}

.down{
    color:#ff3355;
}

.matrix-cell{
    width:38px;
    height:38px;
    border:2px solid #666;
    margin-right:10px;
    background:#111;
}

.active-green{
    background:#00ff99;
}

.prediction{
    text-align:center;
    font-size:32px;
    font-weight:bold;
    margin-bottom:30px;
}

.mini-info{
    width:360px;
    margin:auto;
    border:2px solid #777;
    background:black;
    color:white;
    padding:12px;
    font-size:22px;
    line-height:1.6;
    white-space:pre-line;
}

.middle-separator{
    font-size:70px;
    color:white;
    margin-top:280px;
}

.macro-box{
    width:900px;
    margin:60px auto;
    text-align:center;
}

.macro-title{
    font-size:58px;
    font-weight:bold;
    color:#00ffff;
    margin-bottom:30px;
}

.macro-score{
    font-size:52px;
    font-weight:bold;
    color:yellow;
    margin-bottom:28px;
}

.macro-info{
    font-size:38px;
    margin-bottom:16px;
    color:white;
}

.green{
    color:#00ff99;
}

.red{
    color:#ff3355;
}
